.container {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
  z-index: 5;
  background: var(--color-bg);
  transition: 300ms ease-in-out;
  font-size: 0.8em;
  z-index: 50;
}

.container[data-isopen="false"] {
  left: -265px;
}

.summary {
  display: grid;
  grid-template-rows: 1fr auto;
  width: 255px;
  height: 100%;
  padding-bottom: 15px;
  gap: 8px;
}

.chroniclesContainer {
  position: relative;
  height: 100%;
}

.chronicles {
  position: absolute;
  display: flex;
  padding: 10px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  gap: 10px;
  flex-direction: column;
  overflow-y: auto;
}

.search {
  width: 100%;
  position: relative;
}

.search input {
  font-size: 0.9em;
  width: 100%;
  padding: 5px;
}

.close {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.chevron {
  border-top: 2px solid var(--color-link);
  border-right: 2px solid var(--color-link);
  width: 15px;
  height: 15px;
  transform: rotate(-135deg);
  transition: 200ms ease-in-out;
}

.chevron[data-isopen="false"] {
  transform: rotate(45deg);
}

.menuElement:before {
  content: "- ";
}

@media screen and (max-width: 650px) {
  .container {
    font-size: 1em;
    bottom: 0;
  }

  .chevron {
    width: 8px;
    height: 8px;
  }

  .chronicles {
    padding: 10px;
  }
}
