.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap:15px;
}

.buttons[data-alone='false'] {
  justify-content: flex-end;
}



