.container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    height: 100%;
}

.arrow {
    position: relative;
    width: 35px;
    transition: 200ms ease-in-out;
    cursor: pointer;
    border-radius: 5px;
}

.arrow:hover {
    background: rgba(255,255,255,.1);
}

.arrow::before {
    content: '';
    position: absolute;
    --arrow-size: 10px;
    left: calc(50% - var(--arrow-size) / 2);
    top: calc(50% - var(--arrow-size) / 2);
    border-top: 2px solid var(--color-text);
    border-left: 2px solid var(--color-text);
    width: var(--arrow-size);
    height: var(--arrow-size);
}

.arrow[data-direction='up']::before {
    transform: rotate(45deg);
}


.arrow[data-direction='down']::before {
    transform: rotate(-135deg);
}