.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.title {
  font-size: 1.8em;
  padding: 5px;
  text-align: center;
  background: var(--color-bg-accent);
  border-radius: 5px;
}

.chronicle {
  border-bottom: 1px solid var(--color-bg-accent);
  font-size: 1.1em;
}

.columnist {
  font-style: italic;
}

.chronicleTitle::first-letter {
  text-transform: uppercase;
}

.duration::before {
  content: " ~";
}

.duration::after {
  content: " min";
}
.duration {
  font-style: italic;
  color: green;
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 1.4em;
    display: block;
  }

  .page {
    padding-top: 35px;
  }
}
