.header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  width: 100%;
}

.expire {
  text-align: center;
  width: 100%;
  font-style: italic;
}
.actions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}