.expire {
  font-style: italic;
  text-align: right;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}

.chronicles {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.empty {
  width: 100%;
  text-align: center;
  color: rgb(164, 57, 57);
  font-style: italic;
  margin: 15px 0;
}

.empty::first-letter {
  text-transform: uppercase;
}